body {
    background-color: rgb(211, 211, 211);
}

h1 {
    font-size: 100px;
    text-align: center;
    background-color: violet;
}

h2 {
    font-size: 25px;
    text-align: center;
}

.startButtonContainer {
    display: flex;
    justify-content: center;
    
}

#startButton {
    font-size: 30px;
    background-color: greenyellow;
    align-self: center;
}

h4 {
    font-size: 60px;
    text-align: center;
}

.choiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.choiceButton {
    font-size: 30px;
    margin: 10px;
    background-color: rgb(189, 92, 189);
    width: 100%;
}

#correctOrWrong {
    border-color: black;
    border-top: solid;
    font-size: 30px;
    text-align: center;
}

.purpleBG {
    background-color: rgb(216, 138, 216);
}

h3 {
    font-size: 75px;
    text-align: center;
}

/* #fail {
    color:red;
}

#pass {
    color: blue;
} */

#passOrFail {
    color: blue;
}

#question {
    margin-top: 20px;
}