

h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 25px;
    text-align: end;
}

#startButton {
    font-size: 30px;
    /* text-align: center; *********** Doesn't Work *********** */
    background-color: greenyellow;
    position: relative;
    position: center;
    align-items: end;
}

h3 {
    font-size: 60px;
    text-align: center;
}

.choiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.choiceButton {
    font-size: 30px;
    margin: 10px;
    background-color: rgb(189, 92, 189);
}

#correctOrWrong {
    border-color: black;
    border-top: solid;
    font-size: 30px;
    text-align: center;
}


